body{
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    background-color: #F2F2F2;
    font-family: $regularFont;
}

.instagram-user{
    color: black;
    font-weight: 700;
}

.soft-gray{
    color: #888881;
}
